{% extends 'base.html.twig' %}

{% block title %}Voiture{% endblock %}

{% block body %}
  <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
    <!-- Start content -->
    <div class="content">
    <div class="container-fluid">


    <div class="row">

    <div class="col-12">
    <div class="card-box">
    <div class="dropdown pull-right">
        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-dots-vertical"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Action</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Another action</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Something else</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
        </div>
    </div>

    <p class="text-muted font-14 m-b-20">
    <table class="table">

<td>

    
    <h1>Voiture</h1>

    <table class="table">
        <tbody>
           
            <tr>
                <th>Matricule</th>
                <td>{{ voiture.matricule }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ voiture.marque }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ voiture.couleur }}</td>
            </tr>
            <tr>
                <th>Image</th>
               <td> <img src="{{ asset('uploads/images/') ~voiture.image }}"
                    alt="" style="width: 600px; height: 400px"></td>
            </tr>
        </tbody>
    </table>

    

    <a href="{{ path('voiture_edit', {'idVoiture': voiture.idVoiture}) }}">Modifier </a>

    {% endblock %}
