{% extends 'base.html.twig' %}

{% block title %}Chauffeur{% endblock %}

{% block body %}
 <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
    <!-- Start content -->
    <div class="content">
    <div class="container-fluid">


    <div class="row">

    <div class="col-12">
    <div class="card-box">
    <div class="dropdown pull-right">
        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-dots-vertical"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Action</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Another action</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Something else</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
        </div>
    </div>

    <p class="text-muted font-14 m-b-20">
    <table class="table">

<td>

    <h1>Chauffeur</h1>
 

<a href="{{ path('chauffeur_pdff' , {'idChauffeur': chauffeur.idChauffeur}) }}">
            <button type="button" class="btn btn-purple btn-rounded w-md waves-effect waves-light m-b-5">PDF</button>

    </a>




    <table class="table">
        <tbody>
            
            <tr>
                <th>Nom</th>
                <td>{{ chauffeur.nomChauffeur }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ chauffeur.prenomChauffeur }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ chauffeur.cinChauffeur }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ chauffeur.numTelChauffeur }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ chauffeur.emailChauffeur }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ chauffeur.dateNaissanceChauffeur ? chauffeur.dateNaissanceChauffeur|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>RIB bancaire</th>
                <td>{{ chauffeur.numCompteBancaire }}</td>
            </tr>
        </tbody>
    </table>

    
    {{ include('chauffeur/_delete_form.html.twig') }}
{% endblock %}
