{% extends "base.html.twig" %}

{% block body %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
    <!-- Start content -->
    <div class="content">
    <div class="container-fluid">


    <div class="row">

    <div class="col-12">
    <div class="card-box">
    <div class="dropdown pull-right">
        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-dots-vertical"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Action</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Another action</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Something else</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
        </div>
    </div>
    <h4 class="m-t-0 header-title">List Evt</h4>
    <p class="text-muted font-14 m-b-20">

        <a href="{{ path('create') }}">
            <button type="button" class="btn btn-purple btn-rounded w-md waves-effect waves-light m-b-5">Ajouter Event</button>

    </a>

    <table class="table">

        <thead>
        <tr>

            <td >Detail</td>
            <td >Date_Debut</td>
            <td >Date_Fin</td>
            <td >duree_ev</td>
            <td >Commentaire</td>
            <td >image</td>



            <td >Modifier</td>
            <td >Supprimer</td>
            <td >Detail</td>
        </tr>
        </thead>
        <tbody id="all">
        <form class="w_search">
            <div class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" id="searchsearch1" name="searchsearch" class="form-control" placeholder="Search">
                </div>
                <!-- /input-group --></div></form>

        {% for Evenement in Evenements %}
            <tr>


                <td>

                    {{ Evenement.detail }}

                </td>
                <td>

                    {{ Evenement.dateDebut |date('d-m-Y H:i') }}

                </td>
                <td>

                    {{ Evenement.dateFin |date('d-m-Y H:i') }}

                </td>
                <td>

                    {{ Evenement.dureeEv  }}

                </td>
                <td>

                    {{ Evenement.commentaire  }}

                </td>
                <td>

                   <img src="{{ Evenement.image }}" >

                </td>
                {#<td>

                    {{ Vol.duree }}

                </td> #}
                {#  <td>

                    {{ Vol.place }}

                </td>#}
                {# <td>

                    {{ Vol.destination }}

                </td> #}



                <td>

                    <a href="{{ path('edit_event', {'idEven': Evenement.idEven}) }}"> <i class="fa fa-pencil"></i></a>



                </td>

                <td>
                    <a href="{{ path('delete_event', {'idEven': Evenement.idEven}) }}"

                       onclick="return confirm('Etes vous sûr de supprimer ');"><i class="fa fa-trash" ></i> </a>
                <td>
                    <a href="{{ path('detail',{'idEven': Evenement.idEven}) }}"><i class="fa fa-list" style="color:#0eac5c;font-size:20px"></i> </a>
                </td>

            </tr>

        {% endfor %}

        </tbody>
    </table>


{% endblock %}