{% extends 'base.html.twig' %}

{% block title %}ReservationVoiture index{% endblock %}

{% block body %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
    <!-- Start content -->
    <div class="content">
    <div class="container-fluid">


    <div class="row">

    <div class="col-12">
    <div class="card-box">
    <div class="dropdown pull-right">
        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-dots-vertical"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Action</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Another action</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Something else</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
        </div>
    </div>

    <p class="text-muted font-14 m-b-20">

    <h1>Liste des réservations</h1>
    <a href="{{ path('reservation_voiture_new') }}">
            <button type="button" class="btn btn-purple btn-rounded w-md waves-effect waves-light m-b-5">Ajouter une réservation</button>

    </a>

    <table class="table">
        <thead>
            <tr>
              
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation_voiture in reservation_voitures %}
            <tr>
             
                <td>{{ reservation_voiture.dateDebut ? reservation_voiture.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ reservation_voiture.dateFin ? reservation_voiture.dateFin|date('Y-m-d') : '' }}</td>
             

                <td>

                   
                    <a href="{{ path('reservation_voiture_delete', {'idRv': reservation_voiture.idRv}) }}"

                       onclick="return confirm('Etes vous sûr de supprimer ');"><i class="fa fa-trash" ></i> </a>
                
                    <a href="{{path('reservation_voiture_show', {'idRv': reservation_voiture.idRv}) }}"><i class="fa fa-list" style="color:#0eac5c;font-size:20px"></i> </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
