{% extends 'base2.html.twig' %}

{% block title %}Hotel{% endblock %}

{% block body %}
    <h1>Hotel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hotel.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ hotel.libelle }}</td>
            </tr>
            <tr>
                <th>Locale</th>
                <td>{{ hotel.locale }}</td>
            </tr>
            <tr>
                <th>Caracteristique</th>
                <td>{{ hotel.caracteristique }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_hotel_index') }}">back to list</a>

    <a href="{{ path('app_hotel_edit', {'id': hotel.id}) }}">edit</a>

    {{ include('hotel/_delete_form.html.twig') }}
{% endblock %}
